.container {
    position: relative;
    text-align: center;
    color: white;

    width: 100%;
  }
  /* Centered text */
  .centered {
    position: absolute;
    margin-top: -28%;
    left: 50%;
    opacity: 1;
  }
  
  .topLeft {
    position: relative;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  .bottomCenter {
    position: relative;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  .bottomLeft {
    position: relative;
    bottom: 100px;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  .navbarEpk {
    background-color: #591398;
    position: relative;
    text-align: center;
    bottom: 60px;
    margin-left: 11%;
    margin-right: 11%;
    height: 5vh;
    width: auto;
  }
  
  /* Style the links inside the navigation bar */
  .navbarEpk a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbarEpk a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbarEpk ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .icon {
    font-size: 0.5em;
    width: 2em;
    height: 2em;
    background-color: #ddd;
    padding: 0%;
  }
  
  .navbarEpk li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  .navbarEpk li a:hover {
    background-color: #a263da;
  }