
.still-section-title{  
  height:10px;
  background-color: blueviolet;
}

.still-container {
  position: relative;
  text-align: center;
  background-color: gray;  
  width: 100%;
}


#images-wrapper {    
  line-height: 0;       
   -webkit-column-count: 2;    
   -webkit-column-gap: 0px;    
   -moz-column-count: 5;
   -moz-column-gap: 0px;
    column-count: 2;    
    column-gap: 0px;    
}  
#images-wrapper img {    
  width: 100% !important;    
  height: auto !important;  
  padding:20px;
 
}  
#images-wrapper{    
  display:inline-block;    
  margin-right: auto;    
  margin-left: auto;  
}

@media (max-width: 1000px) {
  #images-wrapper {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
 }  
@media (max-width: 800px) {
  #images-wrapper {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
 }  
@media (max-width: 400px) {
  #images-wrapper {
  -moz-column-count:    1;
  -webkit-column-count: 1;
   column-count:        1;
  }
 }