.container {
  position: relative;
  text-align: center;
  color: white;
  height: 85vh;
  width: 100%;
}
/* img {
  opacity: 0.8;
}
h3 {
  opacity: 1;
} */

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
