.home {
  background-color: #160625;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home::-webkit-scrollbar {
  display: none;
}

.home .listTitle {
  height: 50px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto";
  text-indent: 50px;
  background-color: #2e1f3b;
  display: flex;
  align-items: center;
}

.home .sponsTitle {
  height: 82px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto";
  text-indent: 50px;
  background-color: black;
  display: flex;
  align-items: center;
}
