.landing2{
    /* background-color: #1F0439; */
    height: 55vh;
    width: auto;
}

.landing2Title{
    color: black;
    padding: 25px;
    text-align: center;
  }

.landing2leftColumn {   
    float: left;
    width: 55%;
    margin-top: 25px;
    /* height: 70%; */
  }
.landing2rightColumn {
    float: right;
    width: 45%;
    margin-top: 25px;
    /* height: auto; */
    /* background-color: #f1f1f1; */
    /* padding-left: 5px; */
  }

  .landing2introText{
    width: 55%;
    text-align: center;
    padding: 15px;
    font-size: larger;
    margin-left: 150px;
  }

.landing2EPKImg{
    /* border-radius: 5%; */
    width: 55%;
    margin-left: 20%;
    height: auto;
}

/* .createFilmPagePart{
    height: 40px;
} */

.landing2leftColumn1 {   
    float: left;
    width: 55%;
    margin-top: 90px;
    margin-bottom: 40px;
    /* height: 70%; */
  }
.landing2rightColumn1 {
    float: right;
    width: 45%;
    margin-top: 90px;
    margin-bottom: 40px;
    /* height: auto; */
    /* background-color: #f1f1f1; */
    /* padding-left: 5px; */
  }

  .CreateFilmPage{
    position: relative;
    margin-left: 45%;
    font-size: large;
    background-color: #1F0439;
    color: white;
  }

  .landing2CreateImg{
    border-radius: 8%;
    /* width: 55%; */
    margin-left: 35%;
    /* height: auto; */
}