.landing3{
    /* background-color: #1F0439; */
    height: 60vh;
    width: auto;
}

.landing3Title{
    color: black;
    padding: 25px;
    text-align: center;
  }

  .landing3introText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 15px;

    /* width: 55%;
    text-align: center;
    margin-left: 150px; */
  }



.createEPKPagePart{
    height: 40px;
}

.landing3leftColumn1 {   
    float: left;
    width: 55%;
    margin-top: 90px;
    margin-bottom: 40px;
    /* height: 70%; */
  }
.landing3rightColumn1 {
    float: right;
    width: 45%;
    margin-top: 90px;
    margin-bottom: 40px;
    /* height: auto; */
    /* background-color: #f1f1f1; */
    /* padding-left: 5px; */
  }

  .CreateEPK{
    position: relative;
    margin-left: 40%;
    font-size: 25px;
    background-color: #1F0439;
    color: white;
  }

  .landing3CreateImg{
    border-radius: 8%;
    /* width: 55%; */
    margin-left: 35%;
    /* height: auto; */
}