.listItem {
    width: 236px;
    height: 285px;
    background-color: var(--main-color);
    margin-right: 52px;
    flex-shrink: 0;
    overflow: hidden;
    cursor: pointer;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 100;
    line-height: 35px;
    letter-spacing: 0em;
   
   
}

.listItem img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    /* border-radius: 50%; Makes the image round */
}

.listItem:hover {
    width: 259px;
    height: 320px;
    border-radius: 5%;
    background: linear-gradient(180deg, #FFFFFF 90%, rgba(255, 255, 255, 0) 100%);
    color: #1E0039;
    z-index: -1; 
}

.listItem:hover img {
    border-radius: 0; /* Reverts to a normal image shape on hover */
}
