.listItemactor {
    width: 236px;
    height: 285px;
    background-color: var(--main-color);
    margin: 15px;
    flex-shrink: 0;
    overflow: hidden;
    cursor: pointer;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 100;
    line-height: 35px;
    letter-spacing: 0em;
    transition: all 0.05s; 
}

.listItemactor img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 5%;
}

.listItemactor:hover {
    margin-top: -5px;
    margin-bottom:-5px ;
    margin-left:-25px ;
    margin-right:-25px ;
    width: 279px;
    height: 330px;
    border-radius: 5%;
    background: linear-gradient(180deg, #FFFFFF 90%, rgba(255, 255, 255, 0) 100%);
    color: #1E0039;
    transition: all 0.05s; 
    z-index: 2;
}

.listItemactor:hover img {
    border-radius: 0;
}

