.listItemactor {
    position: relative;
    width: 236px;
    height: 285px;
    margin: 15px;
    flex-shrink: 0;
    overflow: hidden;
    cursor: pointer;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 90;
    line-height: 28px;
    letter-spacing: 0em;
    transition: all 0.5s; /* Increase the transition duration for smoother effect */
}

.listItemactor img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: relative;
    z-index: 1; /* Ensure the image is above other content */
}

.listItemactor:hover {
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -25px;
    margin-right: -25px;
    width: 259px;
    height: 320px;
    border-radius: 5%;
    background: linear-gradient(180deg, #FFFFFF 90%, rgba(255, 255, 255, 0) 100%);
    color: #1E0039;
    opacity: 1;
    z-index: 2;
}

.listItemactor:hover img {
    z-index: 2; /* Move the image above other content on hover */
    border-radius: 0; /* Reverts to a normal image shape on hover */
  
}

